.about {
  position: relative;
  margin-bottom: 124px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.about__inner-top {
  display: flex;
  flex-direction: row;
  gap: 137px;
  padding-right: 106px;
  margin-bottom: 60px;

  @include vp-1199 {
    flex-direction: column;
    padding-right: 180px;
    gap: 33px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-right: 0;
    gap: 35px;
    margin-bottom: 40px;
  }
}

.about__heading {
  flex: 50%;

  h2 {
    padding-bottom: 30px;
    word-spacing: -4px;

    @include vp-1199 {
      padding-bottom: 25px;
      padding-right: 64px;
    }

    @include vp-767 {
      padding-bottom: 13px;
      padding-right: 47px;
      word-spacing: -2px;
    }
  }

  p {
    margin: 0;
    font-size: $fz-xsmedium;
    line-height: $lh-sbig;
    word-spacing: -3px;

    @include vp-1199 {
      font-size: $fz-medium;
      line-height: $lh-xxxmedium;
      padding-right: 54px;
    }

    @include vp-767 {
      font-size: $fz-xxsmall;
      line-height: $lh-xsmedium;
      padding-right: 47px;
    }
  }
}

.about__description {
  flex: 50%;

  h3 {
    margin: 0;
    padding-bottom: 29px;
    font-size: $fz-sbig;
    line-height: $lh-big;
    font-weight: $fw-regular;
    color: $color-cerulean-blue;
    transform: translateY(-5px);

    @include vp-1199 {
      font-size: $fz-xxlmedium;
      line-height: $lh-xxlmedium;
      padding-right: 84px;
      padding-bottom: 18px;
    }

    @include vp-767 {
      font-size: $fz-xxxsmall;
      line-height: $lh-xsmedium;
      padding-right: 84px;
      padding-bottom: 6px;
    }
  }

  p {
    margin: 0;
    padding-bottom: 32px;
    line-height: $lh-xxxmedium;
    word-spacing: -1px;

    @include vp-1199 {
      padding-bottom: 36px;
      line-height: $lh-smedium;
    }

    @include vp-767 {
      font-size: $fz-xsmall;
      line-height: $lh-smedium;
      padding-bottom: 25px;
    }
  }
}

.about__button {
  gap: 28px;

  @include vp-767 {
    gap: 17px;
  }
}

.about__inner-bottom {
  background-color: $color-cerulean-blue;
  border-radius: 20px;
  padding: 92px 106px 57px 126px;

  @include vp-1199 {
    padding: 62px 40px 40px 60px;
  }

  @include vp-767 {
    padding: 42px 20px 40px 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 53px;

    @include vp-1199 {
      gap: 42px 48px;
    }

    @include vp-767 {
      gap: 22px;
      display: flex;
      flex-direction: column;
    }
  }

  li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 33px 28px 59px;
    border-radius: 20px;
    border: 1px solid $color-default-white;
    justify-content: space-between;
    gap: 5px;

    &:first-child {
      padding-right: 45px;

      @include vp-767 {
        padding-right: 0;
      }
    }

    &:nth-child(3n) {
      padding-right: 45px;

      @include vp-1199 {
        padding-right: 42px;
      }

      @include vp-767 {
        padding-right: 0;
      }
    }

    & span {
      position: absolute;
      top: -22px;
      left: -21px;
      width: 42px;
      height: 42px;
      background-color: $color-cerulean-blue;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 22px;
        height: 22px;
        fill: $color-default-white;

        @include vp-767 {
          width: 16px;
          height: 16px;
        }
      }
    }

    h4 {
      margin: 0;
      font-size: $fz-xxxmedium;
      line-height: $lh-xxxlmedium;
      color: $color-default-white;
      letter-spacing: $ls-small;
      font-weight: $fw-regular;
      text-transform: uppercase;
      width: 170px;
      word-spacing: -3px;

      @include vp-1199 {
        width: 100%;
        font-size: $fz-medium;
        line-height: $lh-xsmedium;
        word-spacing: -2px;
      }

      @include vp-767 {
        padding-right: 0;
        font-size: $fz-xxsmall;
        line-height: $lh-smedium;
        word-spacing: -1px;
      }
    }

    p {
      margin: 0;
      line-height: $lh-smedium;
      font-weight: $fw-light;
      color: $color-default-white;
      width: 191px;

      @include vp-1199 {
        width: 100%;
      }

      @include vp-767 {
        padding-right: 44px;
        font-size: $fz-xsmall;
        line-height: $lh-smedium;
        word-spacing: -1px;
      }
    }

    @include vp-1199 {
      padding: 30px 28px 25px 29px;
      flex-direction: column;
      gap: 7px;
    }

    @include vp-767 {
      width: 100%;
      padding: 19px 13px 23px 20px;
      gap: 4px;
      border-radius: 16px;
    }
  }
}
