.btn {
  position: relative;
  display: flex;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  padding: 3px 4px 3px 30px;
  gap: 30px;
  align-items: center;
  min-height: 54px;
  height: fit-content;
  justify-content: space-between;
  cursor: pointer;
  transition: all $trans-default;

  & p {
    margin: 0;
    padding: 0;
    max-width: max-content;
    font-size: $fz-xsmall;
    line-height: $lh-xsmall;
    font-weight: $fw-medium;
    letter-spacing: $ls-light;
    align-items: center;
    text-transform: uppercase;
    color: $color-cerulean-blue;
  }

  & span {
    display: flex;
    background-color: $color-cerulean-blue;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    padding: 0;
    justify-content: center;
    align-items: center;

    & svg {
      width: 8px;
      height: 8px;
      stroke: $color-default-white;
      stroke-width: 2px;
    }
  }

  @include hover-focus {
    outline: none;
    background-color: $color-cerulean-blue;
    transition: all $trans-default;

    > p {
      color: $color-default-white;
      transition: all $trans-default;
    }

    > span {
      background-color: $color-default-white;
      transition: all $trans-default;

      & svg {
        stroke: $color-cerulean-blue;
        transform: rotate(45deg);
      }
    }
  }

  @include active {
    transition: $trans-default;

    > p {
      opacity: 0.7;
    }
  }

  @include disabled {
    border-color: $color-mischka;
    pointer-events: none;
    cursor: default;

    > p {
      color: $color-mischka;
    }

    > span {
      background-color: $color-mischka;

      & svg {
        stroke: $color-default-white;
      }
    }
  }

  @include vp-767 {
    padding-left: 20px;
    gap: 20px;
    min-height: 42px;

    & p {
      font-size: $fz-small;
      line-height: $lh-small;
    }

    & span {
      width: 34px;
      height: 34px;
    }
  }
}
