.burger {
  margin-bottom: 4px;

  & span {
    & svg {
      width: 22px;
      height: 22px;
    }

    & .burger__open {
      stroke: $color-default-white;
    }

    & .burger__closed {
      display: none;
    }
  }

  @include hover-focus {
    outline: none;

      & .burger__open {
        transform: rotate(0);
      }

    & .burger__closed {
      transform: rotate(0);
    }
  }
}


