.contacts {
  position: relative;
  margin-bottom: 120px;
  background-color: $color-cerulean-blue;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.contacts__container {
  padding: 124px 100px 120px;

  @include vp-1199 {
    padding: 99px 45px 100px;
  }

  @include vp-767 {
    padding: 70px 15px 67px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-bottom: 28px;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgba($color-default-white, 0.2);
    left: 0;
    bottom: 0;
  }

  @include vp-1199 {
    flex-direction: column;
    row-gap: 35px;
    padding-bottom: 23px;
  }

  @include vp-767 {
    padding-bottom: 20px;
    row-gap: 35px;
  }
}

.contacts__title {
  color: $color-default-white;
  padding-right: 50px;
}

.contacts__inner {
  display: flex;
  flex-direction: row;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: flex-end;

  & dl {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px 24px;
    max-width: 275px;
    transform: translateX(-3px) translateY(-5px);

    @include vp-767 {
      transform: translateX(0) translateY(-5px);
    }
  }

  & dt {
    margin: 0;
    padding-bottom: 10px;
    font-size: $fz-small;
    line-height: $lh-small;
    letter-spacing: $ls-small;
    color: rgba($color-alabaster, 0.8);
    text-transform: uppercase;

    @include vp-1199 {
      padding-bottom: 12px;
    }

    @include vp-767 {
      padding-bottom: 4px;
    }
  }

  & dd {
    margin: 0;
    font-size: $fz-xxsmall;
    line-height: $lh-xxxmedium;
    color: $color-default-white;
    word-spacing: -1px;

    & a {
      font-size: $fz-xxsmall;
      line-height: $lh-xxxmedium;
      color: $color-default-white;

      @include vp-1199 {
        line-height: $lh-smedium;
      }

      @include vp-767 {
        font-size: $fz-xsmall;
      }

      @include hover-focus {
        outline: none;
        border-bottom: 1px solid $color-default-white;

        @include active {
          color: rgba($color-default-white, 0.8);
          border-color: transparent;
        }
      }
    }

    @include vp-1199 {
      line-height: $lh-smedium;
    }

    @include vp-767 {
      font-size: $fz-xsmall;
    }
  }

  @include vp-1199 {
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 13px;
  }
}

.contacts__map {
  margin-top: 40px;
  border-radius: 16px;
  height: 500px;
  flex-shrink: 0;

  & img {
    border-radius: 16px;
    object-fit: cover;
  }

  @include vp-1199 {
    width: 100%;
    height: 500px;
    margin-top: 30px;
  }

  @include vp-767 {
    margin-top: 30px;
    height: 240px;
  }
}
