.hero {
  position: relative;
  margin-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.hero__slider {
  width: 100%;
  height: auto;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.hero__item {
  position: relative;
  display: flex;
  padding-top: 200px;
  padding-bottom: 60px;
  align-items: flex-end;
  min-height: 800px;
  height: auto;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb($color-cerulean-blue, 0.2);
  }

  @include vp-1199 {
    min-height: 1024px;
    padding-top: 400px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: flex-start;

  & h2 {
    background-color: $color-default-white;
    padding: 40px 45px 30px 50px;
    border-radius: 0 30px 30px 0;
    margin: 0;
    font-size: $fz-xlarge;
    line-height: $lh-xlarge;
    font-weight: $fw-regular;
    color: $color-cerulean-blue;
    max-width: 980px;

    @include vp-1199 {
      padding: 30px 30px 24px 40px;
      font-size: $fz-big;
      line-height: $lh-xlbig;
    }

    @include vp-767 {
      min-width: 290px;
      font-size: $fz-xsmedium;
      line-height: $lh-xxxmedium;
      padding: 20px 14px 16px 14px;
    }
  }

  @include vp-1199 {
    padding-right: 64px;
  }

  @include vp-767 {
    max-width: 675px;
    padding-right: 15px;
  }
}

.hero__description {
  position: relative;
  display: flex;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  padding: 0 50px 35px 50px;
  gap: 30px;
  max-width: 772px;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/svg/icon-angle.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 0;
    right: -26px;
    transform: rotate(90deg);
  }

  > p {
    margin: 0;
    min-width: 452px;
    line-height: $lh-xxxmedium;

    @include vp-1199 {
      min-width: 285px;
      //max-width: 100%;
      line-height: $lh-smedium;
    }

    @include vp-767 {
      background-color: $color-default-white;
      min-width: 261px;
      margin-right: 44px;
      font-size: $fz-xsmall;
      padding: 0 14px 15px 14px;
      border-radius: 0 0 14px 0;
    }
  }

  @include vp-1199 {
    margin-right: 68px;
    padding: 0 40px 35px 40px;
  }

  @include vp-767 {
    flex-direction: column;
    min-width: 261px;
    margin-right: 0;
    padding: 0;
    gap: 0;
    background-color: transparent;

    &::before {
      width: 10px;
      height: 10px;
      right: 34px;
      top: -2px;
    }

    & .hero__wrapper-btn {
      position: relative;
      min-width: 182px;
      margin-right: 108px;
      border-radius: 0 0 14px 14px;
      padding: 10px 15px 10px 15px;
      background-color: $color-default-white;

      &::before {
        position: absolute;
        content: "";
        background: url("../img/svg/icon-angle.svg");
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: -10px;
        top: -1px;
        transform: rotate(90deg);
      }
    }
  }
}

.hero__control {
  position: relative;

  @include hover-focus {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    background: url("../img/svg/icon-angle.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    transform: rotate(0);
  }

  &.swiper-pagination {
    display: inline-flex;
    background-color: $color-default-white;
    border-radius: 20px 20px 0 0;
    padding: 14px 20px;
    width: 94px;
    height: 38px;
    bottom: 0;
  }

  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    gap: 12px;
    background-color: transparent;
    opacity: 1;
    border: 1px solid $color-cerulean-blue;

    &.swiper-pagination-bullet-active {
      background-color: $color-cerulean-blue;
    }

    @include hover-focus {
      outline: none;
      border: 1px solid $color-cerulean-blue;
    }

    &:active {
      background-color: $color-cerulean-blue;
    }
  }
}

.hero__bg-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
