.hero {
  position: relative;
  margin-bottom: 123px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 69px;
  }
}

.hero__slider {
  width: 100%;
  height: auto;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.hero__item {
  position: relative;
  display: flex;
  padding-top: 200px;
  padding-bottom: 60px;
  align-items: flex-end;
  min-height: 800px;
  height: auto;

  &:last-child {
    & .hero__description {
      padding: 0 50px 21px 50px;
    }

    & .hero__button {
      transform: translateX(-7px) translateY(5px);
    }

    @include vp-1199 {
      & .hero__content h2 {
        padding: 30px 30px 24px 40px;
      }

      & .hero__description {
        padding: 2px 28px 17px 41px;

        p {
          transform: translateY(-5px);
        }
      }

      & .hero__button {
        transform: translateX(-11px) translateY(-1px);
      }
    }

    @include vp-767 {
      & .hero__content h2 {
        padding: 20px 30px 13px 14px;
      }

      & .hero__description {
        padding: 0;

        p {
          padding: 0 12px 8px 14px;
          transform: translateY(0);
        }
      }

      & .hero__wrapper-btn {
        padding: 13px 15px 7px 14px;
      }

      & .hero__button {
        transform: translateX(0) translateY(-3px);
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb($color-cerulean-blue, 0.2);
  }

  @include vp-1199 {
    min-height: 1024px;
    padding-top: 400px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: flex-start;
  min-height: 321px;

  h2 {
    background-color: $color-default-white;
    padding: 40px 45px 30px 50px;
    border-radius: 0 30px 30px 0;
    margin: 0;
    font-size: $fz-xlarge;
    line-height: $lh-xlarge;
    font-weight: $fw-regular;
    color: $color-cerulean-blue;
    max-width: 968px;
    word-spacing: -4px;

    @include vp-1199 {
      padding: 30px 30px 24px 40px;
      font-size: $fz-big;
      line-height: $lh-xlbig;
    }

    @include vp-767 {
      min-width: 290px;
      font-size: $fz-xsmedium;
      line-height: $lh-xxxmedium;
      padding: 21px 14px 12px 14px;
      border-radius: 0 16px 16px 0;
    }
  }

  @include vp-1199 {
    padding-right: 64px;
    min-height: 269px;
  }

  @include vp-767 {
    max-width: 675px;
    padding-right: 15px;
  }
}

.hero__description {
  position: relative;
  display: flex;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  padding: 7px 50px 21px 50px;
  gap: 30px;
  min-height: 89px;
  max-width: 772px;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-default-white;
    mask-image: url("../img/svg/icon-angle.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 0;
    right: -26px;
    transform: rotate(90deg);
  }

  p {
    margin: 0;
    min-width: 452px;
    line-height: $lh-xxxmedium;
    transform: translateY(-7px);
    word-spacing: -1px;

    @include vp-1199 {
      min-width: 285px;
      line-height: $lh-smedium;
      min-height: 89px;
      transform: translateY(-3px);
    }

    @include vp-767 {
      background-color: $color-default-white;
      min-height: 85px;
      min-width: 261px;
      margin-right: 44px;
      font-size: $fz-xsmall;
      padding: 0 14px 8px 14px;
      border-radius: 0 0 14px 0;
      transform: translateY(0);
    }
  }

  @include vp-1199 {
    margin-right: 68px;
    padding: 0 39px 0 39px;
  }

  @include vp-767 {
    flex-direction: column;
    min-width: 261px;
    margin-right: 0;
    padding: 0;
    gap: 0;
    background-color: transparent;

    &::before {
      width: 10px;
      height: 10px;
      right: 34px;
      top: 0;
    }

    & .hero__wrapper-btn {
      position: relative;
      min-width: 182px;
      margin-right: 122px;
      border-radius: 0 0 14px 14px;
      padding: 13px 15px 7px 14px;
      background-color: $color-default-white;

      &::before {
        position: absolute;
        content: "";
        mask-image: url("../img/svg/icon-angle.svg");
        background-color: $color-default-white;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: -10px;
        top: -1px;
        transform: rotate(90deg);
      }
    }
  }
}

.hero__button {
  transform: translateX(-7px) translateY(-7px);

  @include vp-1199 {
    transform: translateX(0) translateY(0);
  }

  @include vp-767 {
    transform: translateX(0) translateY(-3px);
  }
}

.hero__control {
  position: relative;

  @include hover-focus {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $color-default-white;
    mask-image: url("../img/svg/icon-angle.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    transform: rotate(0);

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
    }
  }

  &.swiper-pagination {
    display: inline-flex;
    background-color: $color-default-white;
    border-radius: 20px 20px 0 0;
    padding: 14px 15px;
    width: 94px;
    height: 38px;
    bottom: 0;
    gap: 5px;

    @include vp-767 {
      border-radius: 12px 12px 0 0;
      padding: 10px;
      width: 80px;
      height: 28px;
    }
  }

  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    opacity: 1;
    border: 1px solid $color-cerulean-blue;

    &.swiper-pagination-bullet-active {
      background-color: $color-cerulean-blue;
    }

    @include hover-focus {
      outline: none;
      border: 1px solid $color-cerulean-blue;
    }

    &:active {
      background-color: $color-cerulean-blue;
    }

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }
}

.hero__bg-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 10%;
  }
}
