.main-header {
  padding-top: 30px;
  z-index: 2;

  @include vp-767 {
    padding-top: 20px;
  }
}

.main-header__container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

//.main-header__wrappper  {
//  display: flex;
//  //justify-content: space-between;
//  border: 1px solid $color-cerulean-blue;
//  border-radius: 30px;
//  padding: 4px 4px 4px 20px;
//  gap: 20px;
//  align-items: center;
//  //min-width: 134px;
//
//  & p {
//    margin: 0;
//    padding: 0;
//    max-width: max-content;
//    font-size: $fz-xsmall;
//    font-weight: $fw-medium;
//    letter-spacing:$ls-light;
//    align-items: center;
//    text-transform: uppercase;
//    color: $color-cerulean-blue;
//  }
//}
