.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($color-black-pearl, 0.4);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;
  pointer-events: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 23px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 510px;
    padding: 53px 80px 59px 80px;
    background-color: $color-default-white;

    h2 {
      font-size: $fz-sbig;
      line-height: $lh-big;
      padding-bottom: 7px;
    }

    p {
      margin: 0;
      font-size: $fz-xxsmall;
      line-height: $lh-xxxmedium;
      text-align: center;
      padding-bottom: 19px;
      word-spacing: -2px;
    }

    @include vp-1199 {
      padding: 53px 80px 60px 80px;

      h2 {
        font-size: $fz-xxlmedium;
        line-height: $lh-xxlmedium;
        padding-bottom: 15px;
      }

      p {
        line-height: $lh-smedium;
      }
    }

    @include vp-767 {
      width: 100%;
      padding: 38px 15px 40px;

      h2 {
        font-size: $fz-xxxsmall;
        line-height: $lh-xxxsmall;
        padding-bottom: 7px;
      }

      p {
        font-size: $fz-xsmall;
        padding: 0 19px 20px;
        word-spacing: 0;
      }
    }
  }

  &__feedback {
    fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;
      padding: 0;
      margin: 0;

      p {
        text-align: start;
        padding: 0;
      }

      @include disabled {
        pointer-events: none;
        cursor: default;

        input,
        textarea {
          border: 1px solid rgba($color-mischka, 0.2);
          background-color: rgba($color-mischka, 0.4);
        }

        input[type="checkbox"] + .modal__checkbox {
          border: 1px solid rgba($color-mischka, 1);
          background-color: rgba($color-mischka, 0.6);
        }

        input[type="checkbox"]:checked + .modal__checkbox {
          background-color: $color-mischka;
          border: 1px solid rgba($color-mischka, 1);

          svg {
            stroke: rgba($color-default-white, 0.7);
          }
        }

        & .modal__button {
          border: 1px solid $color-mischka;
          color: $color-mischka;

          span {
            background-color: $color-mischka;

            svg {
              stroke: rgba($color-default-white, 0.6);
            }
          }
        }

        & .modal__custom-select {
          & .custom-select__button {
            border: 1px solid rgba($color-mischka, 0.2);
            background-color: rgba($color-mischka, 0.4);
          }
        }
      }
    }
  }

  &__custom-input,
  &__custom-textarea,
  &__custom-select {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-size: $fz-xsmall;
      line-height: $lh-xxxsmall;
      color: rgba($color-charcoal, 0.8);
      padding: 0;
      margin: 0;
    }

    input,
    textarea {
      outline: none;
      border: 1px solid rgba($color-charcoal, 0.3);
      background-color: transparent;
      border-radius: 8px;
      height: 50px;
      width: 350px;
      padding: 16px 25px;
      font-size: $fz-xsmall;
      line-height: $lh-xsmall;
      color: $color-charcoal;

      @include hover-focus {
        border: 1px solid rgba($color-charcoal, 1);
      }

      @include active {
        border: 1px solid rgba($color-charcoal, 1);
      }

      @include disabled {
        border: 1px solid rgba($color-mischka, 0.2);
        background-color: rgba($color-mischka, 0.4);
      }
    }

    @include vp-1199 {
      span {
        line-height: $lh-smedium;
      }
    }

    @include vp-767 {
      gap: 8px;

      input,
      textarea {
        width: 100%;
        height: 44px;
      }

      span {
        font-size: $fz-xsmall;
        line-height: $lh-xsmall;
      }
    }

    &.is-invalid {
      input,
      textarea, {
        border: 1px solid $color-wild-watermelon;
        background-color: rgba($color-wild-watermelon, 0.2);
      }
    }

    &:focus-within {
      span {
        color: rgba($color-charcoal, 1);
      }
    }

    @include hover-focus {
      span {
        color: rgba($color-charcoal, 1);
      }

      input,
      textarea {
        border: 1px solid rgba($color-charcoal, 1);
      }
    }

    @include disabled {
      span {
        color: rgba($color-charcoal, 0.6);
      }

      border: 1px solid rgba($color-mischka, 0.2);
      background-color: rgba($color-mischka, 0.4);
    }
  }

  &__custom-select {
    & .custom-select__button {
      border: 1px solid rgba($color-charcoal, 0.3);

      &--active {
        border: 1px solid rgba($color-charcoal, 1);

        &::before {
          transition: all $trans-default;
          transform: rotate(180deg);
        }
      }

      & .custom-select__list {
        border: 1px solid $color-charcoal;
      }

      & .custom-select__text {
        color: $color-charcoal;
      }

      & .custom-select__icon {
        background-image: url("../img/svg/arrow-down-modal.svg");
      }

      @include hover-focus {
        outline: none;
        border: 1px solid rgba($color-charcoal, 1);
      }

      @include active {
        border: 1px solid rgba($color-charcoal, 1);
      }

      @include vp-1199 {
        width: 352px;
      }

      @include vp-767 {
        width: 100%;
        height: 44px;
      }
    }
  }

  &__custom-select__wrapper.custom-select.is-open {
    & .custom-select__list {
      border: 1px solid $color-charcoal;
    }
  }

  &__custom-input-checkbox {
    margin-top: 7px;

    label {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      span {
        font-size: $fz-small;
        line-height: $lh-small;
        color: rgba($color-charcoal, 0.9);
      }

      @include hover-focus {
        input[type="checkbox"] + .modal__checkbox {
          border: 1px solid rgba($color-charcoal, 1);
        }

        input[type="checkbox"]:checked + .modal__checkbox {
          background-color: $color-default-white;
          border: 1px solid rgba($color-cerulean-blue, 1);

          svg {
            stroke: $color-cerulean-blue;
          }
        }
      }

      input[type="checkbox"] + .modal__checkbox {
        width: 20px;
        height: 20px;
        background-color: $color-default-white;
        border: 1px solid rgba($color-charcoal, 0.7);
        border-radius: 2px;
        cursor: pointer;
        padding: 6px 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        svg {
          width: 10px;
          height: 10px;
        }
      }

      input[type="checkbox"]:checked + .modal__checkbox {
        background-color: $color-cerulean-blue;
        border: 1px solid rgba($color-cerulean-blue, 1);

        svg {
          stroke: $color-default-white;
          stroke-width: 2px;
        }
      }

      @include disabled {
        span {
          color: rgba($color-charcoal, 0.6);
        }

        input[type="checkbox"] + .modal__checkbox {
          border: 1px solid rgba($color-default-white, 1);
          background-color: rgba($color-default-white, 0.6);
          pointer-events: none;
          cursor: default;
        }

        input[type="checkbox"]:checked + .modal__checkbox {
          background-color: $color-mischka;
          border: 1px solid rgba($color-mischka, 1);
          pointer-events: none;
          cursor: default;

          svg {
            stroke: $color-default-white;
          }
        }
      }
    }

    &.is-invalid {
      input[type="checkbox"] + .modal__checkbox {
        border: 1px solid $color-wild-watermelon;
        background-color: rgba($color-wild-watermelon, 0.2);
      }
    }

    @include vp-1199 {
      margin-top: 5px;
    }

    @include vp-767 {
      margin-top: 2px;
    }
  }

  &__button {
    width: max-content;
    align-self: center;
    margin-top: 16px;

    @include vp-1199 {
      margin-top: 14px;
    }

    @include vp-767 {
      margin-top: 12px;
      position: relative;
      padding-right: 57px;
      display: flex;
      justify-content: center;
      width: 100%;

      span {
        position: absolute;
        right: 2px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 24px;
    right: 21px;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    background: $color-transparent;
    border: none;
    cursor: pointer;

    svg {
      width: 22px;
      height: 22px;
      stroke: $color-cerulean-blue;
    }

    @include vp-767 {
      top: 20px;
      right: 20px;
      width: 22px;
      height: 22px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
