.programs {
  position: relative;
  margin-bottom: 121px;

  @include vp-1199 {
    margin-bottom: 101px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.programs__container {
  @include vp-1199 {
    padding-right: 0;
  }

  @include vp-767 {
    padding-right: 15px;
  }
}

.programs__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;

  h2 {
    padding-right: 100px;

    @include vp-767 {
      padding-right: 15px;
    }
  }

  @include vp-1199 {
    padding-right: 45px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-right: 0;
    padding-bottom: 30px;
  }
}

.programs__button {
  max-width: 280px;
  gap: 30px;
  padding-left: 30px;
  transform: translateX(2px) translateY(-4px);

  @include vp-1199 {
    transform: translateX(1px) translateY(0);
  }

  @include vp-767 {
    gap: 27px;
    max-width: 203px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 39px;

  @include vp-767 {
    padding-bottom: 30px;
  }
}

.programs__item {
  border-radius: 12px;
  position: relative;
  width: 392px;
  min-height: 420px;
  padding: 20px 51px 20px 20px;
  display: flex;
  align-items: flex-end;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb($color-cerulean-blue, 0.2);
    border-radius: 12px;
  }

  @include vp-1199 {
    padding: 20px 41px 20px 20px;
    width: 324px;
  }

  @include vp-767 {
    min-height: 400px;
    height: auto;
    max-height: 100%;
    min-width: 290px;
    aspect-ratio: 35/40;
    width: 100%;
    padding: 20px 10px 18px 10px;
  }
}

.programs__content {
  z-index: 2;
  width: 100%;

  h3 {
    position: relative;
    background-color: $color-default-white;
    margin: 0;
    font-size: $fz-xxmedium;
    line-height: $lh-xxxmedium;
    font-weight: $fw-regular;
    color: $color-cerulean-blue;
    border-radius: 12px 12px 0 0;
    padding: 13px 18px 6px 18px;
    width: 194px;
    transform: translateY(4px);

    &::before {
      position: absolute;
      content: "";
      background-color: $color-default-white;
      mask-image: url("../img/svg/icon-angle.svg");
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      bottom: 4px;
      right: -18px;
      transform: rotate(0);
    }

    @include vp-1199 {
      width: 173px;
      font-size: $fz-medium;
      line-height: $lh-xxmedium;
      padding: 12px 18px 6px 18px;
    }

    @include vp-767 {
      min-width: 146px;
      width: auto;
      margin-right: 120px;
      font-size: $fz-xxsmall;
      line-height: $lh-xxxsmall;
      padding: 18px 18px 10px 18px;
    }
  }
}

.programs__description {
  display: flex;
  background-color: $color-default-white;
  border-radius: 0 12px 12px 12px;
  padding: 10px 18px 15px 18px;
  gap: 16px;
  align-items: center;
  min-height: 79px;

  span {
    transform: translateY(1px);
  }

  p {
    margin: 0;
    font-size: $fz-xsmall;
    line-height: $lh-xxxsmall;
  }

  @include vp-1199 {
    min-height: 77px;
    padding: 0 18px 5px 18px;

    p {
      line-height: $lh-smedium;
      word-spacing: -2px;
    }
  }

  @include vp-767 {
    justify-content: space-between;
    min-height: 69px;
    padding: 0 18px 4px 18px;

    span {
      transform: translateY(0);
    }

    p {
      font-size: $fz-small;
      line-height: $lh-xsmall;
    }
  }
}

.programs__bg-photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85% 15%;
  }
}

.programs__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include vp-1199 {
    padding-right: 45px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.programs__arrows {
  order: 2;
  display: flex;
  justify-content: flex-end;
  padding-left: 52px;

  @include vp-1199 {
    padding-left: 64px;
  }
}

.programs__scrollbar.swiper-scrollbar {
  position: relative;
  order: 1;
  width: 1134px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgba($color-cerulean-blue, 0.2);
  cursor: pointer;
  display: block;

  & .swiper-scrollbar-drag {
    background-color: $color-cerulean-blue;
  }

  @include vp-1199 {
    min-width: 560px;
    width: 100%;
  }

  @include vp-767 {
    display: none;
  }
}
