.questions {
  position: relative;
  margin-bottom: 124px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    padding-bottom: 67px;

    @include vp-1199 {
      padding-bottom: 39px;
    }

    @include vp-767 {
      padding-bottom: 34px;
      word-spacing: -2px;
    }
  }
}

.questions__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 106px;

  @include vp-1199 {
    gap: 8px;
    padding: 0;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.questions__item {
  padding: 38px 40px 40px 39px;
  border-radius: 16px;
  border: 1px solid $color-cerulean-blue;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:last-child,
  &:nth-last-child(2) {
    padding: 31px 40px 33px 39px;

    & .questions__accordion-button {
      transform: translateX(1px) translateY(8px);
    }

    @include vp-1199 {
      padding: 26px 40px 24px 29px;

      & .questions__accordion-button {
        transform: translateX(10px) translateY(5px);
      }
    }

    @include vp-767 {
      padding: 20px 15px 18px 15px;

      & .questions__accordion-header {
        gap: 4px;
      }

      & .questions__accordion-button {
        transform: translateX(1px) translateY(6px);
      }
    }
  }

  @include hover-focus {
    outline: none;
    background-color: $color-default-white;

    & .questions__accordion-button {
      background-color: transparent;

      & span {
        background-color: $color-default-white;
        border-color: $color-cerulean-blue;

        & svg {
          stroke: $color-cerulean-blue;
        }
      }
    }

    &:active {
      & h3 {
        color: $color-endeavour;
      }

      & .questions__accordion-button {
        & span {
          background-color: $color-default-white;
          border-color: $color-endeavour;

          & svg {
            stroke: $color-endeavour;
          }
        }
      }

      &.is-active {
        background-color: $color-endeavour;

        & h3 {
          color: $color-default-white;
        }

        & .questions__accordion-button {
          & span {
            background-color: $color-default-white;
            border-color: $color-default-white;
          }

          &::after {
            background-color: $color-endeavour;
          }
        }
      }
    }

    &.is-active {
      background-color: $color-cerulean-blue;

      & .questions__accordion-button {
        & span {
          background-color: $color-cerulean-blue;
          border-color: $color-default-white;
        }

        &::after {
          background-color: $color-default-white;
        }
      }
    }
  }

  &.is-active {
    background-color: $color-cerulean-blue;
    gap: 14px;
    padding-bottom: 32px;

    & h3 {
      color: $color-default-white;
    }

    & .questions__accordion-button {
      & span {
        background-color: $color-default-white;

        & svg {
          visibility: hidden;
        }
      }

      &::after {
        visibility: visible;
      }
    }

    @include vp-1199 {
      gap: 16px;
      padding-bottom: 25px;
    }

    @include vp-767 {
      gap: 13px;
      padding-bottom: 15px;
    }
  }

  @include vp-1199 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 20px 15px 18px 15px;
    border-radius: 14px;
  }
}

.questions__accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  & h3 {
    margin: 0;
    padding-right: 160px;
    font-size: $fz-xxlmedium;
    line-height: $lh-xsbig;
    font-weight: $fw-regular;
    color: $color-cerulean-blue;
    align-self: center;
    min-width: 600px;
    word-spacing: -2px;

    @include vp-1199 {
      font-size: $fz-xsmedium;
      line-height: $lh-xxxmedium;
      min-width: auto;
      padding-right: 50px;
    }

    @include vp-767 {
      font-size: $fz-xxsmall;
      line-height: $lh-xxxsmall;
      padding-right: 10px;
    }
  }
}

.questions__accordion-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(1px) translateY(1px);

  & span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-cerulean-blue;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;

    & svg {
      width: 18px;
      height: 18px;
      stroke: $color-default-white;
      stroke-width: 2px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 18px;
    background-color: $color-cerulean-blue;
    visibility: hidden;
  }

  @include vp-767 {
    transform: translateX(1px) translateY(-1px);
  }
}

.questions__accordion-content {
  padding-right: 300px;

  & p {
    margin: 0;
    font-size: $fz-xxsmall;
    line-height: $lh-xxxmedium;
    color: $color-alabaster;
    word-spacing: -1px;

    @include vp-1199 {
      font-size: $fz-xxsmall;
      line-height: $lh-smedium;
    }

    @include vp-767 {
      font-size: $fz-xsmall;
      word-spacing: -2px;
    }
  }

  @include vp-1199 {
    padding-right: 88px;
  }

  @include vp-767 {
    padding-right: 10px;
  }
}
