// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-charcoal:                    #484848;
$color-alabaster:                   #f0efe9;
$color-cerulean-blue:               #316dc2;
$color-endeavour:                   #275699;
$color-mischka:                     #a9afb7;
$color-wild-watermelon:             #ff5e66;
$color-black-pearl:                 #0d1d33;

// Gradient

$overlay-dark:                      rgba($color-black-pearl, 0.4);
$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$fz-small:                          12px;
$fz-lsmall:                         13px;
$fz-xsmall:                         14px;
$fz-xssmall:                        15px;
$fz-xxsmall:                        16px;
$fz-xxssmall:                       17px;
$fz-xxxsmall:                       18px;
$fz-medium:                         20px;
$fz-xsmedium:                       22px;
$fz-xxmedium:                       24px;
$fz-xxsmedium:                      25px;
$fz-xxxmedium:                      26px;
$fz-xxlmedium:                      28px;
$fz-xxxlmedium:                     30px;
$fz-sbig:                           32px;
$fz-xsbig:                          34px;
$fz-big:                            36px;
$fz-large:                          50px;
$fz-xlarge:                         54px;

$lh-small:                          12px;
$lh-lsmall:                         13px;
$lh-xsmall:                         14px;
$lh-xxsmall:                        16px;
$lh-xxxsmall:                       18px;
$lh-smedium:                        20px;
$lh-xsmedium:                       22px;
$lh-xxmedium:                       24px;
$lh-xxsmedium:                      25px;
$lh-xxxmedium:                      26px;
$lh-xxlmedium:                      28px;
$lh-xxxlmedium:                     30px;
$lh-sbig:                           32px;
$lh-xsbig:                          34px;
$lh-big:                            36px;
$lh-lbig:                           40px;
$lh-xlbig:                          44px;
$lh-large:                          50px;
$lh-xlarge:                         62px;

// Weight
// ---------------------------------
$fw-light:                           300;
$fw-regular:                         400;
$fw-medium:                          500;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
//$ff-placeholder:                    "Placeholder", "Arial", sans-serif;
$ff-manrope:                        "Manrope", "Arial", sans-serif;


// Letter spacing
$ls-small: 0.01em;
$ls-light: 0.02em;
$ls-medium: 0.03em;
$ls-interium: 0.04em;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
